Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early
        
        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
-----BEGIN CERTIFICATE-----
MIIFYTCCBEmgAwIBAgIJAPJhtLBArvZDMA0GCSqGSIb3DQEBCwUAMIG0MQswCQYD
VQQGEwJVUzEQMA4GA1UECBMHQXJpem9uYTETMBEGA1UEBxMKU2NvdHRzZGFsZTEa
MBgGA1UEChMRR29EYWRkeS5jb20sIEluYy4xLTArBgNVBAsTJGh0dHA6Ly9jZXJ0
cy5nb2RhZGR5LmNvbS9yZXBvc2l0b3J5LzEzMDEGA1UEAxMqR28gRGFkZHkgU2Vj
dXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSAtIEcyMB4XDTE2MDMyNjAyMzIzOFoX
DTE3MDMyNjAyMzIzOFowTTEhMB8GA1UECxMYRG9tYWluIENvbnRyb2wgVmFsaWRh
dGVkMSgwJgYDVQQDEx93d3cuc2hhcmV5b3VyZmFybWluZ2dlYXIuY29tLmF1MIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxXCl+e9bHjMzAQLdKYk4MvaD
ewweoMt01G7phsnRpvRHXap0UiZaRQLsajKbNyfnViKkDsVWKSU0dFWmIiUckXOX
22Uy0Dnw/Mjde4M7wedwpHF2jaiDK6vOI4HjrX2W0ekbOlw5vxdISw25p+GcF0Rw
vd9FCDQQ+dpAbxSMXgCy/8OxQHOjeRiM4CTyyH0RECLumy9OCwlx6hzmfeg1LLUf
n0l313bVINIY2eGfOoZUst5dhPN5JTmwTUSlNvc9sIsKZmJYzIGlRB1crYGBVJ++
EcdqpeSUP8PNLqIoDz9OXXr2TaSNwMAkScEmwJVOv0vS8tnvM+JTwpEE/nQ9/QID
AQABo4IB2jCCAdYwDAYDVR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
KwYBBQUHAwIwDgYDVR0PAQH/BAQDAgWgMDcGA1UdHwQwMC4wLKAqoCiGJmh0dHA6
Ly9jcmwuZ29kYWRkeS5jb20vZ2RpZzJzMS0yMTUuY3JsMF0GA1UdIARWMFQwSAYL
YIZIAYb9bQEHFwEwOTA3BggrBgEFBQcCARYraHR0cDovL2NlcnRpZmljYXRlcy5n
b2RhZGR5LmNvbS9yZXBvc2l0b3J5LzAIBgZngQwBAgEwdgYIKwYBBQUHAQEEajBo
MCQGCCsGAQUFBzABhhhodHRwOi8vb2NzcC5nb2RhZGR5LmNvbS8wQAYIKwYBBQUH
MAKGNGh0dHA6Ly9jZXJ0aWZpY2F0ZXMuZ29kYWRkeS5jb20vcmVwb3NpdG9yeS9n
ZGlnMi5jcnQwHwYDVR0jBBgwFoAUQMK9J47MNIMwojPX+2yz8LQsgM4wRwYDVR0R
BEAwPoIfd3d3LnNoYXJleW91cmZhcm1pbmdnZWFyLmNvbS5hdYIbc2hhcmV5b3Vy
ZmFybWluZ2dlYXIuY29tLmF1MB0GA1UdDgQWBBQ0PXBBRnDcLNHDXEiATxG7vx7n
GjANBgkqhkiG9w0BAQsFAAOCAQEAniih9MRZHk8W67BnH5P3iybWad/Dl6qfJLYN
G/t9XEPbXoA/SYyIuIknOFJ0Yg7DI/0WnCiELPSGqLs2Qc0ej/pt5/5daIJZ0iI1
VwkBEMd4hJt2rQyUbPBI1H8ds8m3eB0C2LIkyl8bxxpnR94ml97/1Gnpq2nCfyMs
niFW/JgFwmnpmBKWsSizdVsRGVryhr3LMYLJzCeVHbGe2MnyUSb1y2CvSzrI3NV0
DAVqPSoYIHlyOKMlvtx0A7Jdt6ME8Ntp6XKsAgEkaqlQTqUJUCXkJdnIWx1BClJw
6P89JPo2vpXgEC6O9oULsXvgZyYJsFUXa4C+3qx7PelhjDesXg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAxXCl+e9bHjMzAQLdKYk4MvaDewweoMt01G7phsnRpvRHXap0
UiZaRQLsajKbNyfnViKkDsVWKSU0dFWmIiUckXOX22Uy0Dnw/Mjde4M7wedwpHF2
jaiDK6vOI4HjrX2W0ekbOlw5vxdISw25p+GcF0Rwvd9FCDQQ+dpAbxSMXgCy/8Ox
QHOjeRiM4CTyyH0RECLumy9OCwlx6hzmfeg1LLUfn0l313bVINIY2eGfOoZUst5d
hPN5JTmwTUSlNvc9sIsKZmJYzIGlRB1crYGBVJ++EcdqpeSUP8PNLqIoDz9OXXr2
TaSNwMAkScEmwJVOv0vS8tnvM+JTwpEE/nQ9/QIDAQABAoIBAEO0z5YX+L0wfYsZ
OlJmFfmUA56Ml2w4mQXISxjH2LdSCa8bJuyM7mPADuaUGBof+vrUwkG2dkeB1K0Y
OfJ3m4Zdh3PbDkPNutBU6W7ToAhsn3ok1qzZXrH5JqWSg0sZSEEPmSC4Q60+BLKI
MGRbv7VS6P6TtA6OHEwyBeqRt1j8diPKv2WXn0P32zFyRngHlaPOZkNRZt0t1gro
tPS/gqrGRNUnhA+3lLR8SkOy2Vq+jv9eZ+aihYFA9dDfAmvHke2FbgQLMIDWdXby
2CotcEfltlOUFyStKG4U9GxCrDq4frOpd5RsnjYHfYZR0iltPaomYGyy1Z1OoMe/
fXBqmdkCgYEA51qeZ5QmTr3h3aF0kjZje9gCZhYGiGW9eJV+F4slvusPzhycKQ+a
gIzXQcpFWQxlfLP62LSiAj0QlSRFoglOuZd9K2cRXvnEiI4sKiJamazitSom+sm5
5xvfKZr7UEnX1YVTXkHvaCQteqZrHNHi3tNl9w4G7gwXyqZic04gU18CgYEA2nkk
y7sfGMYoruk9fToR9GiswUXl1jlqpbCVDy02baoXDM6POMg6sCkTb5vMJlAerrFk
PqgOzZgw3M7ckwOgNDZQPW8pX+5oYgUbDs9XuKQX6L6u0652e1kBM6KytOYiLRfC
fx+jtifANW4IsFb/0JeJPntIwq+XV/zx4y4+KCMCgYEAjTkGusl3fNdx+X0mEF58
6csY48IMKNSaDPKMLsj0uI76beGO/Y2VzWSrvXBAVrQ3eyDOPdw9jMpDxhaHHvs5
gBbWBFl9BBHJA2Zt1SZ1UZt0JAxgEPR0s3uTBO2i/QamZqNlGYN8JYD39geCGOyR
5Vz7wAxi9IqTN1PLgwEswFcCgYEAgxOb1//0sFBzqD2X/sIQc6s5utvNAbKBIdfI
FsrxlOov2ic0FsVLMNX0K0o2OeZoAje8BTufZgqhhlk2TZ4nSCwuCC3hjQTk66pU
iZYs80LAdYuyKJ7Lx0WnSuuafJ52cseGke7RskA3OddCr0oDQYspdKtTBDuFeezw
03SzJjECgYAZ8fTfXWGnQd7aTzfsLrYUzwvN6wyptXEaV+fXw48r7BWgO25oKhzz
7K7UnyqTJAPxlI8yeqs6UnBkVVSAFX5zcQOUjPjfON3NTzSEQLM9eaylO0Op7xgf
i6zQ/AZbODRe5lxECj1ypO0DPpzC+44CtDpt7+uDZPFNgMme2TQCrg==
      -----END RSA PRIVATE KEY-----